* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

:root {
    --cl-main: hsl(0, 79%, 72%);
    --cl-main-dark: hsl(0, 79%, 62%);

    --natt: #233D4D;
    --skog: #619B8A;
    --sol: #FCCA46;
}

body, html {
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* width: 75%; */
    min-height: 100vh;
    margin: 0 24px;
    padding-top: 32px;
    box-sizing: border-box;
}

.continer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.dice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--skog);
    padding: 1rem;
    border-radius: .5rem;
    box-sizing: border-box;
}

.dice.active {
    background-color: var(--sol);
}

.dice span {
    position: relative;
    background-color: var(--natt);
    width: 100%;
    height: 100%;

    border-radius: 50%;
}

.dice[data-side="1"] {
    grid-template-areas:
        ". . ."
        ". dot5 ."
        ". . ."
        ;
}
.dice[data-side="2"] {
    grid-template-areas:
        "dot1 . ."
        ". . ."
        ". . dot2"
        ;
}
.dice[data-side="3"] {
    grid-template-areas:
        "dot1 . ."
        ". dot2 ."
        ". . dot3"
        ;
}
.dice[data-side="4"] {
    grid-template-areas:
        "dot1 . dot2"
        ". . ."
        "dot3 . dot4"
        ;
}
.dice[data-side="5"] {
    grid-template-areas:
        "dot1 . dot2"
        ". dot3 ."
        "dot4 . dot5"
        ;
}
.dice[data-side="6"] {
    grid-template-areas:
        "dot1 . dot2"
        "dot3 . dot4"
        "dot5 . dot6"
        ;
}

.dice span:nth-child(1) {
    grid-area: dot1;
}
.dice span:nth-child(2) {
    grid-area: dot2;
}
.dice span:nth-child(3) {
    grid-area: dot3;
}
.dice span:nth-child(4) {
    grid-area: dot4;
}
.dice span:nth-child(5) {
    grid-area: dot5;
}
.dice span:nth-child(6) {
    grid-area: dot6;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: calc(21px + 16px);
}

/* Input */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: var(--skog); /* Otherwise white in Chrome */
    border-radius: 8px;
    height: .8rem;
  }

  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    background-color: var(--natt);
    border: none;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--natt);
    border: none;
    width: 1rem;
    height: 1rem;
    scale: 1.8;
    border-radius: 50%;
  }

  input[type=range]:focus {
    outline: 2px solid var(--sol);
    outline-offset: .5rem;
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }


  @media screen and (min-width: 800px) {
    main {
        margin: 0 80px;
        padding-top: 32px;
        box-sizing: border-box;
    }
  }
