:root {
  --main-font: "Roboto";

  --fs-weight-300: 300;
  --fs-weight-400: 400;
  --fs-weight-800: 800;
  --fs-weight-900: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../Fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../Fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Roboto;
  src: url(../Fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../Fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Rock Salt";
  src: url(../Fonts/Rock_Salt/RockSalt-Regular.ttf);
  font-weight: 400;
}

body {
    font-family: var(--main-font);
    color: var(--natt);
}

h1 {
    font-family: var(--main-font);
    font-weight: var(--fs-weight-800);
    font-size: 1.56rem;
}

p {
    font-family: var(--main-font);
    font-weight: var(--fs-weight-300);
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 1px;
}

strong {
    font-weight: var(--fs-weight-800);
    font-size: 1rem;
}

form label {
    font-family: var(--main-font);
    font-weight: var(--fs-weight-800);
    font-size: 1rem;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 20px;
    }
}
